/*
Background sets the background of the entire website. The syntax is "background: url('name_of_file.image');" make sure the file is in the same folder as the html file.


*/
body{
  background: url('Mandelbrot_set_image.png');
  text-align: left
  background-size: cover;
}
#main {
  width: auto;
  height: auto;
  background-blend-mode: soft-light;
  margin: auto;
  background: rgba(255,255,255,0.7);
}
h1{
  margin: auto;
  text-align: center;
  background: none;
  font-family: 'SF Pro Display';
}
/*h2{
  text-align: left;*/
}
p{
  text-align: left;
}
/*
Menu button settings below
*/
/*
Settings for button without dropdown options.
*/
.dropbtn {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  box-shadow: 10px -2px 10px rgba(0,0,0,0);
}
/*
Not sure what this part does exactly.
*/
.dropdown {
  position: relative;
  display: inline-block;
}
/*
Settings for all the drop down options

*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/*.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
*/
.dropdown-content a:hover {background-color: rgb(128, 234, 255);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #80eaff;}
